@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap%27');


body{
    display: flex;
    background-color:#0D192C;
    height: 100vh;
    margin: 0;
    font-family: Outfit;
    font-style: normal;
    align-items: center;
    justify-content: center;
    color: #8BACD9 ;
}

.titleBox{
    color: white;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 550;
}

.titleDec{
    color: white;
}

.container{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #15263F;
    max-width: 350px;
    border-radius: 15px;
    height: 596px;
    padding: 24px;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.10);
}



.description{
    font-size:18px;
    font-weight: 300;
    line-height: 26px;
    
}

.cube{
    max-width: 100%;
    border-radius: 8px;
    position: relative;
}


.avatar{
    width: 33px;
    height: 33px;
    border: 1px solid white;
    border-radius: 33px;
}

.currency{
    color: #00FFF8;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
}

.containerRow{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 24px;
    border-bottom:1px solid #2E405A;
    padding-bottom: 24px;
    justify-content: space-between;
}

.createdBy{
    align-items: center;
    display:flex;
    flex-direction: row;
    gap:16px;
    text-align: center;
    padding-top:16px;
}

.daysleft{
    display: flex;
    align-items: center;
    gap:6px
}

.titleDec:hover{
    color: #00FFF8;
}

.author{
    color: white;
}

.author:hover{
    color: #00FFF8;
}


  
  .imageContainer:hover .overlay {
    opacity: 0.5;
    background-color: #00FFF8;

  }

  .overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    background-color: #00FFF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -306px;
    border-radius: 8px;
    width: 302px;
    height: 302px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }



.overlay2{
    background:url(images/icon-view.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -306px;
    border-radius: 8px;
    width: 302px;
    height: 302px;
    transition: .5s ease;
    opacity: 0;
    text-align: center;
}

.imageContainer:hover .overlay2{
    opacity: 1;  
}